/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 70%;
    margin: auto;    
}

body {
    padding: 20px 0;
}

.grey-text {
    color: grey;
}

/* ***** header top ***** */

#logo {
    height: 70px;
    border-right: 1px solid grey;
    padding-right: 20px;
}

.header-top nav {
    height: 50px;
    line-height: 50px;
}

nav li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
}

nav li a {
    text-decoration: none;
    color: grey;
}

/* ***** header bottom ***** */

.header-bottom {
    margin: 20px 0;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 300px 0 35px 30px;
    color: white;
}

.header-bottom h2 {
    width: 50%;
    font-weight: 500;
}

.header-bottom p {
    width: 45%;
}

/* ***** main ***** */

main .container {
    padding-bottom: 20px;
}

.main-top {
    margin-bottom: 30px;
}

.left-column,
.right-column {
    width: 20%;
}

.main-content {
    margin: 0 2%;
    width: 56%;
}

.left-column,
.main-content,
.right-column {
    float: left;
}

.img-dimension {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.para-title {
    font-weight: 100;
    font-size: 16px;
    margin: 10px 0;
}

/* ***** footer ***** */

footer .container {
    height: 50px;
    margin-top: 10px;
}


/* +++++ debug +++++ */

.debug .header-top {
    background-color: #E579E6;
}

.debug .header-bottom {
    background-color: #E1D67A;
}

main .container.debug {
    background-color: #0086FF;
}

.debug .main-top {
    height: 75px;
}

.debug .left-column,
.debug .main-content,
.debug .right-column {
    height: 400px;
}

.debug .main-top,
.debug .left-column,
.debug .main-content,
.debug .right-column {
    background-color: #abcfe7;
}

footer .debug.container {
    background-color: #8801fe;
}